<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="mobi.monaca.plugins.bluetooth"
    version="1.0.0">

    <name>BluetoothPlugin</name>
	<description>BluetoothPlugin</description>
    <engines>
        <engine name="cordova" version=">=2.9.0" />
    </engines>
    <license>Asial</license>

    <js-module src="www/bluetooth.js" name="BlueTooth">
        <clobbers target="plugins.bluetooth" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BluetoothPlugin">
                <param name="android-package" value="mobi.monaca.framework.plugin.BluetoothPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
        </config-file>

        <source-file src="src/android/BluetoothPlugin.java" target-dir="src/mobi/monaca/framework/plugin"/>        
        <source-file src="src/android/BluetoothError.java" target-dir="src/mobi/monaca/framework/plugin"/>        
        <source-file src="src/android/BluetoothWrapper.java" target-dir="src/mobi/monaca/framework/plugin"/>        
        <source-file src="src/android/Pair.java" target-dir="src/mobi/monaca/framework/plugin"/>        
    </platform>


</plugin>
